extends layout

block content
  h1 #{title}
  br
  h3 Please be patient while we plan and build our awesome website for awesome Orthodontists!
  img.image(src="/public/6955061730_717cd8a986_z.jpg", alt="Image of woman smiling with braces on her teeth.")