extends layout

block content
  h1 #{title}
  br
  h3 Please be patient as we plan and build our awesome website for awesome Orthodontists!
  br
  img.image(style='display:block; margin-left:auto; margin-right:auto;' src="https://farm8.staticflickr.com/7107/6955061730_717cd8a986_z.jpg" alt="Image of woman smiling with braces on her teeth.")