extends layout

block content
  h1 #{title}
  p Please be patient while we plan and build our awesome website for awesome Orthodontists!
  footer
    p This tool is being developed with the intent to provide Orthodontists and their staff with a better way to purchase supplies.