extends layout

block content
  h1 #{title}
  ul.list-group
    each article, i in articles
      li.list-group-item
        a(href="/articles/"+article._id)= article.title
  footer
    p This tool is being developed with the intent to provide Orthodontists and their staff with a better way to purchase supplies.