extends layout

block content
  h1 User Profile
  ul
    li
      h5 Name: #{name}
        a(href='/users/userEditName')
    li
      h5 Email:
        a(href='/users/userEditEmail')
    li
      h5 Username:
        a(href='/users/userEditUsername')
    li  
      h5 Password:
        a(href='/users/userEditPassword')