extends layout

block content
  h1 User Profile
  ul
    li
      h5 Name:
        h5= user.name
          a(href='/users/userEditName') | Edit Name
    li
      h5 Email: 
        h5= user.email
          a(href='/users/userEditEmail') Edit Email
    li
      h5 Username:
        h5= user.username
          a(href='/users/userEditUsername') Edit Username
    li  
      h5 Password:
        a(href='/users/userEditPassword') Edit Password