extends layout

block content
  h1 User Profile
  ul
    li
      h3 Name: #{user.name} 
        a(href='/users/userEditName')     Edit Name
    li
      h3 Email: #{user.email}
        a(href='/users/userEditEmail')      Edit Email
    li
      h3 Username: #{user.username}
        a(href='/users/userEditUsername')     Edit Username
    li  
      h3 Password:
        a(href='/users/userEditPassword')     Edit Password