extends layout

block content
  h1 User Profile
  ul
    li
      h5= 'Name: ' user.name
        a(href='/users/userEditName') Edit Name
    li
      h5 Email: #{email}
        a(href='/users/userEditEmail') Edit Email
    li
      h5 Username: #{username}
        a(href='/users/userEditUsername') Edit Username
    li  
      h5 Password:
        a(href='/users/userEditPassword') Edit Password